service firebase.storage {
  match /b/{bucket}/o {
    match /image/portfolio/{allPaths=**} {
      allow read;
      allow write: if isLoginUser()
    }
    match /image/etc/{allPaths=**} {
      allow read;
    }

    function isLoginUser() {
    	return request.auth != null
    }
  }
}
