@charset "UTF-8";

$base-color: #ffffff;
$main-color1: #c7f0db;
$main-color2: #8bbabb;
$accent-color1: #6c7b95;
$accent-color2: #464159;

html {
  font-size: 62.5%;
}
body {
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

@media screen and (max-width: 896px) {

}
